@import './../../../styles/variables';

.c-Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $brand-color;
    color: $font-color-light;
    padding: 0.7em;

    p {
        margin-bottom: 0;
        font-weight: bold;
    }
}
