.c-Form {
  padding: 15px;
  background: #ddd;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin-top: 10px;

  button[type="submit"] {
    padding: .375rem .75rem;
    color: #fff;
    line-height: 1.5;
    border: 1px solid transparent;
  }
}
